<div class="container">
    <table class="table table-striped">
        <thead>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Uloga</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let teacher of teachers">
                <td>{{teacher.firstName}}</td>
                <td>{{teacher.lastName}}</td>
                <td>{{teacher.teacherRank}}</td>
                <td><button (click)="deleteTeacher(teacher)" class="btn btn-danger">Obriši</button></td>
                <td><button (click)="updateTeacher(teacher)" class="btn btn-primary">Izmeni</button></td>
            </tr>
        </tbody>
    </table>
    <button (click)="newTeacher()" class="btn btn-success">Novi profesor</button>
    </div>