<div class="container">
<h3>Studenti</h3>
<table class="table table-striped">
    <thead>
        <th>Index</th>
        <th>Ime</th>
        <th>Prezime</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td class="cardNumber">{{student.cardNumber}}</td>
            <td>{{student.firstName}}</td>
            <td>{{student.lastName}}</td>
            <td><button (click)="deleteStudent(student)" class="btn btn-danger">Obriši</button></td>
            <td><button (click)="updateStudent(student)" class="btn btn-primary">Izmeni</button></td>
        </tr>
    </tbody>
</table>
<button class="btn btn-success" (click)="newStudent()">Novi student</button>
</div>