<div class="container">
    <table class="table table-striped">
        <thead>
            <th>Naziv</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let course of courses">
                <td>{{course.name}}</td>
                <td><button (click)="deleteCourses(course)" class="btn btn-danger">Obriši</button></td>
                <td><button (click)="updateCourse(course)" class="btn btn-primary">Izmeni</button></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-success" (click)="newCourse()">Novi kurs</button>
    </div>