<h3>Prijava ispita</h3>
<div class="form-group">
    <label for="predmet">Predmet</label>
    <select class="form-control" [(ngModel)]="exam.course">
          <option *ngFor="let c of courses" [ngValue]="c">{{c.name}}</option>
        </select>
  </div>

  <div class="modal-footer">
      <button class="btn btn-primary" type="button" (click)="add()">OK</button>
    </div> 
