<div class="container">
    <h3>Ispiti</h3>
    <table class="table table-striped">
        <thead>
            <th>Ispitni Rok</th>
            <th>Predmet</th>
            <th>Poeni sa Ispita</th>
            <th>Poeni sa Predispitnih Obaveza</th>
            <th>Vreme Odrzavanja Ispita</th>
            <th>Ime i Prezime Studenta</th>
            <th>Br Indeksa</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let exam of exams">
                <td>{{exam.examPeriod.name}}</td>
                <td>{{exam.course.name}}</td>
                <td>{{exam.examPoints}}</td>
                <td>{{exam.labPoints}}</td>
                <td>{{exam.date | date:'dd/MM/yyyy HH:mm'}}</td>
                <td *ngIf="!(exam.student==null)">{{exam.student.firstName + ' ' + exam.student.lastName}}</td>
                <td *ngIf="exam.student==null">-</td>
                <td *ngIf="!(exam.student==null)" class="cardNumber">{{exam.student.cardNumber}}</td>
                <td *ngIf="exam.student==null">-</td>
                <td><button (click)="deleteExam(exam)" class="btn btn-danger">Obriši</button></td> 
                <td><button *ngIf="exam.date==null" (click)="editDate(exam)" class="btn btn-primary">Unesi Datum</button></td>
            </tr>

        </tbody>
    </table>
    <button class="btn btn-success" (click)="newExam()">Nov ispit</button>
    </div>