
<div class="container">
    <form>
        <div class="form group">
            <label for="cardNumber">Index</label>
            <input type="text" name="cardNumber" class="form-control" [(ngModel)]="student.cardNumber" [ngModelOptions]="{standalone: true}" disabled>
        </div>
        <div class="form group">
            <label for="firstName">Ime </label>
            <input type="text" name="firstName" class="form-control" [(ngModel)]="student.firstName" [ngModelOptions]="{standalone: true}" disabled>
        </div>
        <div class="form group">
            <label for="lastName">Prezime</label>
            <input type="text" name="lastName" class="form-control" [(ngModel)]="student.lastName" [ngModelOptions]="{standalone: true}" disabled>
        </div>
        <br>
        <div>
            <div>
                <h3>Kursevi od korisnika</h3>
            </div>
            <table class="table table-bordered">
              <tr *ngFor="let enrollment of enrollments">
                <td>
                  {{enrollment.course.name}}
                </td>
              </tr>
            </table>
          </div>
          
          <div>
            <div>
                <h3>Prijava Ispita</h3>
            </div>
            <table class="table table-bordered">
              <thead>
                <th>Ispitni Rok</th>
                <th>Početak Ispitnog Roka</th>
                <th>Kraj Ispitnog Roka</th>
                <th>Prijava</th>
            </thead>
              <tr *ngFor="let examPeriod of nextExamPeriods">
                <td>{{examPeriod.name}}</td>
                <td>{{examPeriod.startDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{examPeriod.endDate | date: 'dd/MM/yyyy'}}</td>
                <td>
                  <button type="button" class="btn btn-success right" aria-label="Info" (click)="prijavaIspita(examPeriod.id)">
                    Prijavi Ispite u Ovom Roku
                  </button>
                </td>
              </tr>
            </table>
          </div>

          <div *ngIf="student.id">
            <div>
              <h3>Rezultati ispita</h3>
            <table class="table table-bordered">
              <thead>
                <th>Naziv predmeta</th>
                <th>Datum</th>
                <th>Vreme ispita</th>
                <th>Ocena</th>
                <th>Informacije</th>
            </thead>
              <tr *ngFor="let exam of examspass">
                <td>
                  {{exam.course.name}}
                </td>
                <td>{{exam.date | date: 'dd/MM/yyyy'}}</td>
                <td>{{exam.date | date: 'HH:mm'}}</td>
                <td>
                  <spam *ngIf="!(exam.labPoints+exam.examPoints > 50)">5</spam>
                  <spam *ngIf="exam.labPoints+exam.examPoints > 50 && !(exam.labPoints+exam.examPoints >61)">6</spam>
                  <spam *ngIf="exam.labPoints+exam.examPoints > 60 && !(exam.labPoints+exam.examPoints >71)">7</spam>
                  <spam *ngIf="exam.labPoints+exam.examPoints > 70 && !(exam.labPoints+exam.examPoints >81)">8</spam>
                  <spam *ngIf="exam.labPoints+exam.examPoints > 80 && !(exam.labPoints+exam.examPoints >91)">9</spam>
                  <spam *ngIf="exam.labPoints+exam.examPoints > 90 && !(exam.labPoints+exam.examPoints >101)">10</spam>
                </td>
                <td>
                  <button *ngIf="exam.labPoints+exam.examPoints > 51 " type="button" class="btn btn-success right" aria-label="Info" (click)="gotoInfo(exam.id)">
                    Informacije o ispitu
                  </button>
                  <button *ngIf="!(exam.labPoints+exam.examPoints > 51) " type="button" class="btn btn-danger right" aria-label="Info" (click)="gotoInfo(exam.id)">
                    Informacije o ispitu
                  </button>
                </td>
              </tr>
            </table>
          </div>
          <div>
            <h3>Obrada ispita...</h3>
            <table class="table table-bordered">
              <thead>
                <th>Naziv predmeta</th>
                <th>Datum</th>
                <th>Vreme ispita</th>
                <th>Informacije</th>
            </thead>
              <tr *ngFor="let exam of exams">
                <td>
                  {{exam.course.name}}
                </td>
                <td>{{exam.date | date: 'dd/MM/yyyy'}}</td>
                <td>{{exam.date | date: 'HH:mm'}}</td>
                <td>
                  <button type="button" class="btn btn-success right" aria-label="Info" (click)="gotoInfo(exam.id)">
                    Informacije o ispitu
                  </button>
                </td>
              </tr>
            </table>
          </div>
          <div>
            <h3>Ispiti u narednom periodu</h3>
            <table class="table table-bordered">
              <thead>
                <th>Naziv predmeta</th>
                <th>Datum</th>
                <th>Vreme ispita</th>
                <th>Odjava ispita</th>
                <th>Informacije</th>
            </thead>
              <tr *ngFor="let exam of nextexams">
                <td>
                  {{exam.course.name}}
                </td>
                <td>{{exam.date | date: 'dd/MM/yyyy'}}</td>
                <td>{{exam.date | date: 'HH:mm'}}</td>
                <td>
                  <button type="button" class="btn btn-danger right" aria-label="Info" (click)="odjava(exam.id)">
                    Odjavi Ispit
                  </button>
                </td>

                <td>
                  <button type="button" class="btn btn-success right" aria-label="Info" (click)="gotoInfo(exam.id)">
                    Informacije o ispitu
                  </button>
                </td>
              </tr>
            </table>
          </div>
          </div>
          <br>
          <div>
              <div>
                  <h3>Dokumenti korisnika</h3>
              </div>
              <table class="table table-bordered">
                <tr *ngFor="let document of documents">
                  <td>
                    {{document.naziv}}
                  </td>
                </tr>
              </table>

            <div>
                <h3>Uplate korisnika</h3>
            </div>
            <table class="table table-bordered">
              <thead>
                <th>Svrha Uplate</th>
                <th>Vrednost Uplate</th>
                <th>Vreme Uplate</th>
            </thead>
            <tbody>
              <tr *ngFor="let payment of payments">
                <td>{{payment.svrhaUplate}}</td>
                <td>{{payment.vrednostUplate}}</td>
                <td>{{payment.date | date:'dd/MM/yyyy HH:mm'}}</td>
              </tr>
              <tr>
                <td>Ukupno</td>
                <td id="sum">{{sum}}</td>
                <td></td> 
            </tr>
            </tbody>
            </table>
            </div> 
    </form>
</div>