<div>
    <h3>Informacije o ispitu</h3>
  </div>
  <div>
    <div class="form-group">
      <label for="student">Datum</label><br>
      <label id="datum">{{exam.date  | date: 'dd/MM/yyyy HH:mm'}}</label>
      <!-- <input type="text" name="naziv" class="form-control" [(ngModel)]="exam.date" disabled> -->
    </div>
    <div class="form group">
        <label for="naziv">Student</label>
        <input type="text" name="naziv" class="form-control" [(ngModel)]="exam.student.firstName+' '+ exam.student.firstName" disabled>
    </div>
      <div class="form-group">
        <label for="student">Predmet</label>
        <input type="text" name="naziv" class="form-control" [(ngModel)]="exam.course.name" disabled>
      </div>
      <div class="form-group" *ngIf="user.authority.name != 'NASTAVNIK'">
        <label for="student">Bodovi sa Ispita</label>
        <input type="text" name="naziv" class="form-control" [(ngModel)]="exam.examPoints" disabled>
      </div>
      <div class="form-group" *ngIf="user.authority.name != 'NASTAVNIK'">
        <label for="student">Bodovi sa Predispitnih Obaveza</label>
        <input type="text" name="naziv" class="form-control" [(ngModel)]="exam.labPoints" disabled>
      </div>
      <div class="form-group">
        <label for="student">Ispitni Rok</label>
        <input type="text" name="naziv" class="form-control" [(ngModel)]="exam.examPeriod.name" disabled>
      </div>
      <div class="form-group"  *ngIf="user.authority.name != 'STUDNET'">
        <label  *ngIf="user.authority.name != 'STUDENT'"  for="student">Bodovi sa Ispita</label>
        <input  *ngIf="user.authority.name != 'STUDENT'" type="number" max="100" name="naziv" class="form-control" [(ngModel)]="exam.examPoints">
      </div>
      <div class="form-group">
        <label  *ngIf="user.authority.name != 'STUDENT'"  for="student">Bodovi sa Predispitnih Obaveza</label>
        <input  *ngIf="user.authority.name != 'STUDENT'" type="number" max="100" name="naziv" class="form-control" [(ngModel)]="exam.labPoints">
      </div>
      <button (click)="saveExamPoints(exam)" *ngIf="user.authority.name != 'STUDENT'" class="btn btn-success">Save</button>

  
  
  </div>