#dropDownButton{
    position: fixed;
    top: 10px;
    left: 10px;
}

#startPage{
    position: fixed;
    right: 10px;
    top: 10px;
}

#listDropDown{
    position: fixed;
    left: 10px;
    top: 50px;
}

#wrapper{
    width: 100%;
    height: 100%;
    min-height: 105vh;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}