<div>
    <h3>Add new Exam</h3>
  </div>
  <div>

    <div class="form-group">
        <label for="course">Predmet</label>
        <select class="form-control" [(ngModel)]="exam.course">
              <option *ngFor="let c of courses" [ngValue]="c">{{c.name}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="examPeriod">Ispitni Rok</label>
        <select class="form-control" [(ngModel)]="exam.examPeriod">
              <option *ngFor="let e of examPeriods" [ngValue]="e">{{e.name}}</option>
        </select>
      </div>

    <div class="form-group">
        <label for="examDate">Vreme Odrzavanja Ispita</label>
          <div class="input-group">
            <input type="datetime-local" class="form-control" placeholder="mm/dd/yyyy hh:mm" name="examDate" [(ngModel)]="exam.date">
          </div>
    </div>
  
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" (click)="add()">OK</button>
    <button class="btn btn-primary" type="button" (click)="goBack()">Cancel</button>
  </div> 

