/* You can add global styles to this file, and also import other style files */

th, td, tr{
    border: 1px solid #000000 !important;
    vertical-align: middle !important;
    text-align: center !important;
}

h3{
    text-align: center !important;
    margin: 20px 0 !important;
    font-weight: bold !important;
    font-family: 'Open Sans', sans-serif !important;
}