<div class="container">
    <h3>Dokumenti</h3>
    <table class="table table-striped">
        <thead>
            <th>Naziv</th>
            <th>Ime i Prezime Studenta</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let document of documents">
                <td>{{document.naziv}}</td>
                <td>{{document.student.firstName + ' ' + document.student.lastName}}</td>
                <td><button (click)="deleteDocument(document)" class="btn btn-danger">Obriši</button></td>
               
            </tr>
        </tbody>
    </table>
    <button class="btn btn-success" (click)="newDocument()">Novi dokument</button>
    </div>