
<div class="container">
<div>
    <form (ngSubmit)="processForm()">
        <div class="form group">
            <label for="cardNumber">Indeks</label>
            <input type="text" name="cardNumber" class="form-control" [(ngModel)]="student.cardNumber">
        </div>
        <div class="form group">
            <label for="firstName">Ime</label>
            <input type="text" name="fname" class="form-control" [(ngModel)]="student.firstName">
        </div>
        <div class="form group">
            <label for="lastName">Prezime</label>
            <input type="text" name="lname" class="form-control" [(ngModel)]="student.lastName">
        </div>
        <br>
        <div>
            <div>
                <h3>Kursevi od korisnika</h3>
            </div>
            <table class="table table-bordered">
              <tr *ngFor="let enrollment of enrollments">
                <td>
                  {{enrollment.course.name}}
                </td>
              </tr>
            </table>
          </div> 
          <div *ngIf="student.id">
            <div>
              <h3>Rezultati ispita</h3>
            <table class="table table-bordered">
              <thead>
                <th>Naziv predmeta</th>
                <th>Datum</th>
                <th>Vreme ispita</th>
                <th>Informacije</th>
            </thead>
              <tr *ngFor="let exam of examspass">
                <td>
                  {{exam.course.name}}
                </td>
                <td>{{exam.date | date: 'dd/MM/yyyy'}}</td>
                <td>{{exam.date | date: 'HH:mm'}}</td>
                <td>
                  <button type="button" class="btn btn-success right" aria-label="Info" (click)="gotoInfo(exam.id)">
                    Informacije o ispitu
                  </button>
                </td>
              </tr>
            </table>
          </div>
          <div>
            <h3>Obrada ispita...</h3>
            <table class="table table-bordered">
              <thead>
                <th>Naziv predmeta</th>
                <th>Datum</th>
                <th>Vreme ispita</th>
                <th>Informacije</th>
            </thead>
              <tr *ngFor="let exam of exams">
                <td>
                  {{exam.course.name}}
                </td>
                <td>{{exam.date | date: 'dd/MM/yyyy'}}</td>
                <td>{{exam.date | date: 'HH:mm'}}</td>
                <td>
                  <button type="button" class="btn btn-success right" aria-label="Info" (click)="gotoInfo(exam.id)">
                    Informacije o ispitu
                  </button>
                </td>
              </tr>
            </table>
          </div>
          <div>
            <h3>Ispiti u narednom periodu</h3>
            <table class="table table-bordered">
              <thead>
                <th>Naziv predmeta</th>
                <th>Datum</th>
                <th>Vreme ispita</th>
                <th>Odjava ispita</th>
                <th>Informacije</th>
            </thead>
              <tr *ngFor="let exam of nextexams">
                <td>
                  {{exam.course.name}}
                </td>
                <td>{{exam.date | date: 'dd/MM/yyyy'}}</td>
                <td>{{exam.date | date: 'HH:mm'}}</td>
                <td>
                  <button type="button" class="btn btn-primary right" aria-label="Delete" (click)="deleteExam(exam.id)">
                    Odjavi ispit
                  </button>
                </td>

                <td>
                  <button type="button" class="btn btn-success right" aria-label="Info" (click)="gotoInfo(exam.id)">
                    Informacije o ispitu
                  </button>
                </td>
              </tr>
            </table>
          </div>
          </div>
          <br>
          <div>
              <div>
                  <h3>Dokumenti korisnika</h3>
              </div>
              <table class="table table-bordered">
                <tr *ngFor="let document of documents">
                  <td>
                    {{document.naziv}}
                  </td>
                </tr>
              </table>

            <div>
                <h3>Uplate korisnika</h3>
            </div>
            <table class="table table-bordered">
              <thead>
                <th>Svrha Uplate</th>
                <th>Vrednost Uplate</th>
                <th>Vreme Uplate</th>
            </thead>
            <tbody>
              <tr *ngFor="let payment of payments">
                <td>{{payment.svrhaUplate}}</td>
                <td>{{payment.vrednostUplate}}</td>
                <td>{{payment.date | date:'dd/MM/yyyy HH:mm'}}</td>
              </tr>
              <tr>
                <td>Ukupno</td>
                <td id="sum">{{sum}}</td>
                <td></td> 
            </tr>
            </tbody>
            </table>
            </div> 
          <input type="submit" value="save" class="btn btn-success">
    </form>
</div>
<div>
    <br>
  </div>
  </div>
