<div class="container">

    <form (ngSubmit)="processForm()">
        <div class="form group">
            <label for="name">Naziv</label>
            <input *ngIf="user.authority.name == 'ADMIN'" type="text" name="name" class="form-control" [(ngModel)]="course.name">
            <input *ngIf="user.authority.name == 'NASTAVNIK'" type="text" disabled name="name" class="form-control" [(ngModel)]="course.name">
        </div>
        <input *ngIf="user.authority.name == 'ADMIN'" type="submit" value="save" class="btn btn-success">
    </form>
    <br>
    <div *ngIf="course.id">
        <div>
          <h3>Studenti</h3>
          <button *ngIf="user.authority.name == 'ADMIN'" type="button" class="btn btn-primary" aria-label="Add" (click)="gotoAddEnrollment()" >
            Dodaj
          </button>
        </div>
        <table class="table table-bordered">
          <thead>
            <th>Ime i Prezime</th>
            <th>Broj Indeksa</th>
            <th>Pocetak Kursa</th>
            <th>Zavrsetak Kursa</th>
        </thead>
          <tr *ngFor="let enrollment of enrollments">
            <td>
              {{enrollment.student.firstName+" "+enrollment.student.lastName}} 
            </td>
            <td class="cardNumber">{{enrollment.student.cardNumber}}</td>
            <td>{{enrollment.startDate | date: 'dd/MM/yyyy'}}</td>
            <td>{{enrollment.endDate | date: 'dd/MM/yyyy'}}</td>
            <td *ngIf="user.authority.name == 'ADMIN'">
              <button type="button" class="btn btn-primary right" aria-label="Delete" (click)="deleteEnrollment(enrollment.id)">
                Obrisi
              </button>
            </td>
          </tr>
        </table>
        <br>
        <div>
          <h3>Ispiti</h3>
        </div>
          <table class="table table-bordered">
            <thead>
              <th>Naziv Predmeta</th>
              <th>Datum</th>
              <th>Vreme Ispita</th>
              <th>Ime i Prezime</th>
              <th>Broj Indeksa</th>
              <th>Informacije</th>
          </thead>
            <tr *ngFor="let exam of examspass">
              <td>
                {{exam.course.name}}
              </td>
              <td>{{exam.date | date: 'dd/MM/yyyy'}}</td>
              <td>{{exam.date | date: 'HH:mm'}}</td>
              <td>{{exam.student.firstName +' '+ exam.student.lastName}}</td>
              <td class="cardNumber">{{exam.student.cardNumber}}</td>
              <td>
                <button type="button" class="btn btn-success right" aria-label="Info" (click)="gotoInfo(exam.id)">
                  Upisi Bodove
                </button>
              </td>
            </tr>
          </table>
          <br>
      </div>

</div>