<div class="container">
    <form (ngSubmit)="processForm()">
        <div class="form group">
            <label for="name">Naziv ispitnog roka</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="examperiod.name">

            <div class="form-group">
              <label for="name">Pocetak ispitnog roka</label>
                <div class="input-group">
                  <input type="date" class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="ngbStartDate" 
                    ngbDatepicker #d1="ngbDatepicker">
                </div>
              </div>

              <div class="form-group">
                <label for="name">Kraj ispitnog roka</label>
                <div class="input-group">
                  <input type="date" class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="ngbEndDate" 
                    ngbDatepicker #d2="ngbDatepicker">
                </div>
              </div>
        </div>
        <input type="submit" value="save" class="btn btn-success">
    </form>
    <div *ngIf="examperiod.id">
      <div>
        <h3>Prijavljeni ispiti</h3>
      </div>
      <table class="table table-bordered">
        <tr *ngFor="let exam of exams">
          <td>
            {{exam.student.firstName}} {{exam.student.lastName}} {{exam.course.name}} {{exam.date | date: 'dd.MM.yyyy'}}
          </td>
          <td>
            <button type="button" class="btn btn-primary right" aria-label="Delete" (click)="deleteExam(exam.id)">
              Obrisi
            </button>
          </td>
        </tr>
      </table>   
    </div>
</div>